.draggableContainer {
    display: flex;
    border: 0.125rem dashed #646cff;
    border-radius: 0.5rem;
    justify-content: center;
    height: 3rem;
    background-color: #242424;
    user-select: none;

    .dragHandle {
        display: flex;
        width: 2rem;
        height: 100%;
        align-items: center;
        justify-content: center;
        cursor: grab;
        padding: 0 0.5rem;
        user-select: none;
        border-radius: 0.5rem;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

        &:hover {
            background-color: rgba($color: #646cff, $alpha: 0.3);
            color: #ffffff;
        }

        &:active {
            cursor: grabbing;
        }
    }

    .dragContent {
        flex-grow: 1;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0.5rem;
        text-align: center;
    }
}
