#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.draggable-wrapper {
    padding: 0.5rem;
    user-select: none;

    .draggable {
        background-color: #242424;
        display: flex;
        border: #646cff 0.125rem dashed;
        align-items: center;
        padding: 0.5rem;
        border-radius: 1rem;

        .drag-handle {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2em;
            height: 2em;
            border-radius: 50%;
            // background-color: #646cff;
            color: white;
            margin-right: 1em;
            cursor: grab;
            transition: background-color 0.2ms ease;

            &:hover {
                background-color: rgba($color: #646cff, $alpha: 0.5);
            }
        }

        .drag-content {
            flex-grow: 1;
        }
    }
}
